$primary: Forestgreen;
$secondary: #304ffe;
$body-bg: Azure;
@import "~bootstrap/scss/bootstrap.scss";
$color: steelblue;

.my-prime {
  color: $color;
}

.Button {
  color: white;
  text-align: right;
}
